<?xml version="1.0"?>
<config>
    <modules>
        <AW_Shopbybrand>
            <version>1.3.9</version><platform>ce</platform>
        </AW_Shopbybrand>
    </modules>
    <global>
        <blocks>
            <awshopbybrand>
                <class>AW_Shopbybrand_Block</class>
            </awshopbybrand>
        </blocks>
        <helpers> 
            <awshopbybrand>
                <class>AW_Shopbybrand_Helper</class>
            </awshopbybrand>
        </helpers>
        <models>
            <awshopbybrand>
                <class>AW_Shopbybrand_Model</class>
                <resourceModel>awshopbybrand_resource</resourceModel>
            </awshopbybrand>
            <awshopbybrand_resource>
                <class>AW_Shopbybrand_Model_Resource</class>
                <entities>
                    <brand>
                        <table>aw_shopbybrand_brand_flat</table>
                    </brand>
                    <brandstore>
                        <table>aw_shopbybrand_brand_store</table>
                    </brandstore>
                    <categoryimage>
                        <table>aw_shopbybrand_brand_categoryimage</table>
                    </categoryimage>
                    <brand_product>
                        <table>aw_shopbybrand_brand_product</table>
                    </brand_product>
                </entities>
            </awshopbybrand_resource>
        </models>
        <resources>
            <awshopbybrand_setup>
                <setup>
                    <module>AW_Shopbybrand</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awshopbybrand_setup>
            <awshopbybrand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awshopbybrand_write>
            <awshopbybrand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awshopbybrand_read>
        </resources>
    </global>
    <admin>
        <routers>
            <awshopbybrand_admin>
                <use>admin</use>
                <args>
                    <module>AW_Shopbybrand</module>
                    <frontName>awshopbybrand_admin</frontName>
                </args>
            </awshopbybrand_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <awshopbybrand module="awshopbybrand">
                    <file>aw_shopbybrand.xml</file>
                </awshopbybrand>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Shopbybrand>
                    <files>
                        <default>AW_Shopbybrand.csv</default>
                    </files>
                </AW_Shopbybrand>
            </modules>
        </translate>
        <events>
            <catalog_product_save_after>
                <observers>
                    <sbb_save_product_after>
                        <type>singleton</type>
                        <class>AW_Shopbybrand_Model_Observer</class>
                        <method>afterProductSave</method>
                    </sbb_save_product_after>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <AW_Shopbybrand>
                    <files>
                        <default>AW_Shopbybrand.csv</default>
                    </files>
                </AW_Shopbybrand>
            </modules>
        </translate>
        <layout>
            <updates>
                <awshopbybrand module="awshopbybrand">
                    <file>aw_shopbybrand.xml</file>
                </awshopbybrand>
            </updates>
        </layout>
        <routers>
            <awshopbybrand>
                <use>standard</use>
                <args>
                    <module>AW_Shopbybrand</module>
                    <frontName>shopbybrands</frontName>
                </args>
            </awshopbybrand>
        </routers>
        <events>
            <controller_action_predispatch_cms_index_noRoute>
                <observers>
                    <allproducts>
                        <type>singleton</type>
                        <class>AW_Shopbybrand_Model_Observer</class>
                        <method>preDispatch</method>
                    </allproducts>
                </observers>
            </controller_action_predispatch_cms_index_noRoute>
        </events>
    </frontend>
    <default>
        <awshopbybrand>
            <all_brands_page_setup>
                <url_key>brands</url_key>
            </all_brands_page_setup>
        </awshopbybrand>
    </default>
</config>
